<% require 'faker' %>
    
<%= %>

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Todo App</h1>
        <h2>You have <%= @todos.count %> todos</h2>
        <hr>
        <ul id="todos">
          <!-- Iterate through todos start here -->
          <% @todos.each do |todo| %>
              <li id="todo_<%= todo.id %>">(<%= todo.id %>) - <%= todo.title %> - <a href='/todos/<%= todo.id %>' id="delete_link">Delete</a></li>
          <% end %>
      <!-- Iterate through todos start here -->
        </ul>


<hr>
<h2>New ToDo Form</h2>
<form action="/todos" id="new_todo" method="POST">
  <fieldset class="form-group">
    <label for="inputToDo">To Do Title</label>
    <input type="text" class="form-control" id="inputToDo" name="todo" value="<%= Faker::Book.title %>" placeholder="Enter todo" required>
  </fieldset>
  <button type="submit" id="new_submit" class="btn btn-primary">Submit</button>
</form>