<% require 'faker' %>
    
<%= %>

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Todo App</h1>
        <h2>You have <%= @todos.count %> todos</h2>
        <hr>
      
        <!-- Iterate through todos start here -->
        <% @todos.each do |todo| %>
          <p>
            <span class="glyphicon glyphicon-record" aria-hidden="true"></span> (<%= todo.id %>) - <%= todo.title %>
            <div id="delete_div">
              <form action="/todos/<%= todo.id %>" id= "delete_form" method="POST">
                <button type="submit" id="delete_button" class="btn btn-primary">Delete</button>
                <input type="hidden" name="_method" value="delete">
              </form>
            </div>
          </p>
        <% end %>
      <!-- Iterate through todos start here -->



<hr>
<h2>New ToDo Form</h2>
<form action="/todos" method="POST">
  <fieldset class="form-group">
    <label for="inputToDo">To Do Title</label>
    <input type="text" class="form-control" id="inputToDo" name="todo" value="<%= Faker::Book.title %>" placeholder="Enter todo" required>
  </fieldset>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>